<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Comments for {{ item.name }}</h1>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.content }} - by User {{ comment.user_id }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to Products and Services</a>
</body>
</html>